<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nuro.nuro.storemanagemnet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".userPackage.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".userPackage.activity.UserRegisterActivity"
            android:theme="@android:style/Theme">
        </activity>

        <activity android:name=".userPackage.activity.CityPickerActivity"
            android:theme="@android:style/Theme">
        </activity>
        <activity android:name=".userPackage.activity.MainMenuActivity"
            android:theme="@android:style/Theme">
        </activity>

    </application>

</manifest>
